<% if @patient.errors.full_messages.any? %>
  <% @patient.errors.full_messages.each do |error_message| %>
   <p class="text-danger"> <%= error_message %></p>
  <% end %>
<% end %>
<%= @patient.errors.full_messages.first if @patient.errors.any? %>

<%=form_with model:@patient, url:{action: "create"} do |f|%>
        
    <%= render 'form', f:f%>

<%end%>