<p style="color: green"><%= notice %></p>
<%= link_to "New book", new_book_path %>
                      
<h1>Books</h1>

<div id="books">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Cover image</th>
      <th scope="col">Author Name</th>
      
      <th scope="col">button</th>
    </tr>
  </thead>
  <tbody>
   
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</tbody>
</table>
</div>

