
<table>
<% @user.each do |user|%>
    <tr>
        <td>
            <%= link_to user.username, user_path(user)%>
        </td>
        <td>
            <%= button_to 'Edit' , edit_user_path(user),method:'get'%>
        </td>
        <td>
                <%= button_to "Delete", user_path(user) , :confirm => "Are you sure?", :method => :delete %>
         </td>
          
    </tr>
<% end %>

</table>
<%=link_to "Add new user" , new_user_path%>