<%= button_to "New",  {action:"new"},:method => :get %>

<%@patients.each do |x|%>
    <div>
        <%=x.name%>
        <span style="color:red;margin-left:10px"><%=x.email%></span>
    </div>
    <br>
<%end%>
